{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="paris.jpg" alt="Paris" width="300" height="300">
<div class="aboutdiv">
    <h2>A little bit about the team</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna nunc, euismod in dictum nec, sodales et eros. Aenean sem sem, volutpat quis sodales rutrum, dignissim vitae lectus. Integer vulputate scelerisque massa in gravida. Vivamus condimentum nisi efficitur, mattis sem ut, ultricies arcu. Aliquam lacinia, mauris et maximus dictum, nisi mauris commodo ex, vitae commodo purus velit ac erat. Maecenas dapibus, nunc vitae pellentesque dignissim, quam elit interdum libero, vehicula fermentum velit quam a purus. Nullam semper, massa nec efficitur molestie, magna arcu rhoncus augue, eu lacinia est massa id quam. Mauris pretium, erat non porta commodo, mi turpis pulvinar tellus, eget tristique nunc lacus nec nunc. Cras aliquet in nibh imperdiet bibendum. Morbi justo tellus, vulputate tempor nunc eu, molestie luctus nunc. Mauris et nisi eu urna maximus ultricies</p>

</div>
{% endblock %}