{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="paris.jpg" alt="Paris" width="300" height="300">
<div class="aboutdiv">
    <h2>A little bit about the team</h2>
    <p>                    This application was designed as part of our Research Practicum for our Msc. Computer Science at
                    UCD. If you have
                    any questions about the project or the process, please don't hesitate to check out the GitHub
                    respository or
                    click our names to drop us a message on LinkedIn!</p>

</div>
{% endblock %}