{% extends 'base.html' %}
{% load static %}
{% block content %}
    {{ stops | json_script:"stops-data" }}
    <link href="{% static '/map.css' %}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html">


    <form class="form-inline" onsubmit="predict(event, ${stop.stop_name});"><input id="predictTime" class="form-control"
                                                                                   type="datetime-local" required><input
            type="submit" value="Plan Journey" id="button-predict" class="btn btn-primary"/></form>

    {#    <button onclick="displayMenu()">Plan Journey</button>#}
    <div id="autocompleteDiv" style="display:none">
        <select id="origin-input"
                class="controls"
                type="text"
                placeholder="Enter an origin location">
            {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.stop_name }}</option>
            {% endfor %}
        </select>

        <select id="destination-input"
                class="controls"
                type="text"
                placeholder="Enter a destination location">
            {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.stop_name }}</option>
            {% endfor %}
        </select>

    </div>

    <div id="MapView"></div>

    <div id="weatherWidget"><a class="weatherwidget-io" data-font="Roboto Slab"
                               data-icons="Climacons Animated" data-label_1="DUBLIN" data-label_2="WEATHER"
                               data-mode="Current" data-theme="clear"
                               href="https://forecast7.com/en/53d35n6d26/dublin/">DUBLIN WEATHER</a>
    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpmxEf_9hpbApu3UhIu8jY41LDdgPFkqc&libraries=places&callback=initMap">
    </script>
    <script src=" {% static '/Map.js' %}"></script>



{% endblock %}
