{% extends 'base.html' %}
{% load static %}
{% block content %}

    {{ stops | json_script:"stops-data" }}
    <link href="{% static '/map.css' %}" rel="stylesheet" type="text/css" xmlns="http://www.w3.org/1999/html">


    <div id="autocompleteDiv">
        <select id="origin-input"
                class="controls"
                type="text"
                placeholder="Enter an origin location">
            {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.stop_name }}</option>
            {% endfor %}
        </select>

        <select id="destination-input"
                class="controls"
                type="text"
                placeholder="Enter a destination location">
            {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.stop_name }}</option>
            {% endfor %}
        </select>

        <form id="form" method="POST">
            {% csrf_token %}
            <input id="predictTime"
                   class="form-control"
                   type="datetime-local"
                   name="predict"
                   required>
{#            <label for="hour">hour</label><input id='hour' type="text" name="hour"><br>#}
{#            <label for="day">day</label><input id='day' type="text" name="day"><br>#}
{#            <label for="month">month</label><input id='month' type="text" name="month"><br>#}
            <input type="submit" name="submit" value="Plan Journey">
        </form>
        <div id="output">
        </div>
    </div>


{#    <form class="form-inline"><input id="predictTime"#}
{#                                     class="form-control"#}
{#                                     type="datetime-local"#}
{#                                     name="predict"#}
{#                                     required><input#}
{#            type="submit" value="Plan Journey" id="button-predict" class="btn btn-primary"/></form>#}





    <div id="MapView"></div>



    <div id="weatherWidget"><a class="weatherwidget-io" data-font="Roboto Slab"
                               data-icons="Climacons Animated" data-label_1="DUBLIN" data-label_2="WEATHER"
                               data-mode="Current" data-theme="clear"
                               href="https://forecast7.com/en/53d35n6d26/dublin/">DUBLIN WEATHER</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>


    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpmxEf_9hpbApu3UhIu8jY41LDdgPFkqc&libraries=places&callback=initMap">
    </script>



{% endblock %}