<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input id="autocomplete" placeholder="Enter an origin" type="text" />
<input id="autocomplete2" placeholder="Enter a destination" type="text" />
<select id="hours"></select>
<select id="minutes"></select>

<script>
    var select = document.getElementById("hours");
    for (let i = 0; i < 25; i++) {
        select.options[select.options.length] = new Option( i, i);
    }

    var select = document.getElementById("minutes");
    for (let i = 0; i <60 ; i+15) {
        select.options[select.options.length] = new Option( i, i);
    }
</script>

<script>
    let autocomplete;
    let autocomplete2;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'),{
            componentRestrictions: { country: "ie" },
            fields: ["address_components", "geometry"],
            types: ["address"]
            });

        autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('autocomplete2'),{
            componentRestrictions: { country: "ie" },
            fields: ["address_components", "geometry"],
            types: ["address"]
            });

        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var place = autocomplete.getPlace();
        console.log(place.geometry.location.lat());
        console.log(place.geometry.location.lng());
        });

        var input2 = document.getElementById('autocomplete2');
        var autocomplete2 = new google.maps.places.Autocomplete(input2);
        google.maps.event.addListener(autocomplete2, 'place_changed', function () {
        var place2 = autocomplete2.getPlace();
        console.log(place2.geometry.location.lat());
        console.log(place2.geometry.location.lng());
        });

    }

    function onPlaceChanged() {
        var place = autocomplete.getPlace();

        if (!place.geometry) {
            //User did not select a prediction; reset the input field
            document.getElementById('autocomplete').placeholder = 'Enter your start point';

        } else {
            document.getElementById('details').innerHTML = place.name;

        }
    }
    </script>


<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpmxEf_9hpbApu3UhIu8jY41LDdgPFkqc&callback=initAutocomplete&libraries=places&v=weekly"
      async
></script>


</body>
</html>