{% extends 'base.html' %}
{% load static %}
{% block content %}


    {{ favourites | json_script:"fave-routes-data" }}


    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                <div class="well profile">
                    <div class="col-sm-12">
                        <div class="col-xs-8 col-sm-8">
                            <h2><b>Username:</b> {{ request.user }}</h2>
                            <p><strong>Favorite Journeys </strong></p>
                        </div>
                    </div>
                    <div class="col-xs-12 divider text-center">
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong> 20,7K </strong></h2>
                            <p><small>Kilometers travelled</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>245</strong></h2>
                            <p><small>Journeys Planned</small></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>43</strong></h2>
                            <p><small>Snippets</small></p>

                        </div>
                        <div>
                            <table>
                                <p><b>Favorite Routes</b></p>
                                {% csrf_token %}
                                {% for routes in user_routes %}
                                    <tr id="{{ routes.id }}">
                                    <td>{{ routes.users_origin_stop }}</td>
                                    <td> {{ routes.users_dest_stop }} </td>
                                     <td><input type="checkbox" name="route_id[]" value="{{ routes.id }}"></td>
                                    {% comment %}        <td>
                                            <button type="button" class="btn btn-danger"
                                                    onclick="removeFav('{{ request.user.username }}')">Remove Route
                                            </button>
                                        </td>{% endcomment %}

                                    </tr>

                                {% endfor %}

                            </table>
                         <button type="submit" id="delete_btn" class="btn btn-secondary">Remove Route</button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}