/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#MapView {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.weather {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.weatherwidget-io {
    width: 400px;
}